**/.vs/**
**/x64/**
Sana03/obj/Debug Sana03/obj/Sana03.csproj.nuget.dgspec.json Sana03/obj/Sana03.csproj.nuget.g.props Sana03/obj/Sana03.csproj.nuget.g.targets Sana03/obj/project.assets.json Sana03/obj/project.nuget.cache
Sana03/bin/Debug
